.main-favourits {
    background: #FAFAFA;
}

.favourits {
    margin-top: 30px / 1040px * 100%;
    background: $white;

    .item {
        @extend .row;
        padding: 14px 0;
        line-height: 20px;
        font-weight: 500;

        &__title {
            @include make-col(6);
        }
        &__edit {
            @include make-col(6);
            @extend .row;
            opacity: 1;
            transition: opacity 0.5s;
            span {
                @include make-col(6);
                color: $siberian-blue;
                font-size: 1rem;
                line-height: 20px;
                font-weight: 400;
                cursor: pointer;
                &.item__edit-del {
                    color: #FF0000;
                }
            }
        }
        @include media-breakpoint-up(sm){
            &__title {
                @include make-col(8);
            }
            &__edit {
                @include make-col(4);
            }
        }
        @include media-breakpoint-up(lg){
            &__title {
                @include make-col(9);
            }
            &__edit {
                @include make-col(3);
            }
        }
    }
    @media screen and (min-width: 768px){
        .item {
            &__edit {
                opacity: 0;
            }
        }
    }
}

.item {
    &:hover {
        background: #F1F1F1;
    }
    &:hover &__edit {
        opacity: 1;
    }
    .text__cursor {
        cursor: pointer;
    }
}

