@import "../variables";

.modal {

    &.overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #75C7FF;
        // backdrop-filter: flur(5px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__favorite_saved {
        position: absolute;
        top: 90%;
        right: 7%;
        background: $white;
        max-width: 220px;
        font-family: $font-sans;
        padding: 15px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        z-index: 100;
        text-align: left;
        opacity: 0;
        transition: all 0.5s;

        // &:before {
        //     content: "";
        //     width: 0;
        //     height: 0;
        //     bottom: 100%;
        //     right: 45%;
        //     position: absolute;
        //     border-bottom: 26px solid transparent;
        //     border-left: 13px solid transparent;
        //     border-right: 13px solid transparent;
        // }

        p {
            margin-bottom: 15px;
        }

        a {
            color: $siberian-blue;
        }
        &--show {
            opacity: 1;
        }
    }

    &__window {
        background: $white;
        padding: 36px 40px;
        box-shadow: 0px 10px 50px rgba(19, 144, 229, 0.8);
        border-radius: 10px;
        width: 510px;

        h4 {
            color: $dark;
        }
        
        p {
            color: $dark;
            line-height: 22px;

            i {
                color: red;
                margin-right: 5px;
            }
        }
        %form-elements {
            padding: 12px 15px;
            background: #FAFAFA;
            border: 1px solid rgba(23, 23, 25, 0.1);
            border-radius: 5px;
            width: 100%;
            font-size: 20px;
            line-height: 24px;
            color: $dark;

            &::placeholder {
                color: #BBBBBB;
            }
        }

        input {
            @extend %form-elements;                        
        }

        select {
            @extend %form-elements;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: url("../../assets/img/arrow.svg"); 
            background-position: right 1rem top 50%, 0 0; 
            background-repeat: no-repeat;
            color: #BBBBBB;
            &.selected{
                color: $dark;
            }
            option {
                color: $dark;
                &:first-child {
                    color: #BBBBBB;
                }
            }

        }


        .form__input {
            margin-bottom: 24px / 430px * 100%;
            position: relative;

            svg {
                position: absolute;
                top: 60%;
                right: 20px;
                cursor: pointer;
            }

            &_error {
                text-align: center;
                color: red;
                padding-top: 10px;
            }
        }
    }

    //очищаем стандартные стили
    input[type='range'] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 60%; /* Specific width is required for Firefox. */
        height: 6px;
        border-radius: 3px;
        padding: 0;
        border: none;
        background: linear-gradient(to right, #1390E5 0%, #1390E5 50%, #EAEAEA 50%, #EAEAEA 100%);
        transition: background 450ms ease-in;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
    }
    input[type=range]:focus {
        /* Removes the blue border. You should probably do some kind of focus styling 
        for accessibility reasons though. */
        outline: none; 
    }

    //Настраиваем ползунок
    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid #1390E5;
        height: 18px;
        width: 18px;
        border-radius: 9px;
        background: #ffffff;
        cursor: pointer;
        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        margin-top: 0px; 
        // box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {
        border: 2px solid #1390E5;
        height: 18px;
        width: 18px;
        border-radius: 9px;
        background: #ffffff;
        cursor: pointer;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 6px;
        cursor: pointer;
        background: #EAEAEA;
        border-radius: 3px;
        border: 0.2px solid #EAEAEA;
    }

    input[type=range]::-moz-range-progress {
        background-color: #1390E5;
    }

    .range-block {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .range-result {
        display: inline-block;
        padding: 15px 40px;
        font-size: 20px;
        color: $dark;
        border: 1px solid rgba(23, 23, 25, 0.1);
        border-radius: 5px;
    }

    .button-block {
        display: flex;
        justify-content: space-between;
        .button--fill {
            padding: 12px 55px;
        }
    }

    &.visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
        white-space: nowrap;
    }

    .input-range {
        width: 70%;

        &__track {
            background: #EAEAEA;
        }

        &__track--active {
            background: #1390E5;
        }
    
        &__slider {
            background: $white;
            border: 2px solid #1390E5;
        }
    }

    .input-disabled {
        color: #BBBBBB;
    }


}