@import "../variables";
@import "./inputs";

.content {
    padding-top: 220px / 1040px * 100%;
    
    h1 {
        margin-bottom: 40px / 1040px * 100%;
    }

}
.main {
    margin: 0 10px;
    margin-bottom: 20px;

    h2 {
        margin: (40px / 1019px * 100%) 0 (12px / 1019px *100%);
    }
}

.search {
    &__heart {
        width: 24px; 
        height: 24px;
        position: absolute;
        top: 25%;
        right: 18%;
        cursor: pointer;

        &.saved path{
            fill: #C5E4F9;
        }

        @media screen and (max-width: 768px){
            width: 20px; 
            height: 20px;
        }
        @media screen and (max-width: 576px){
            right: 23%
        }

        &--fill {
            fill: $light-blue;
        }
    }
}
.result {

    &__header {
        display: flex;
        justify-content: space-between;
        margin: (40px / 1019px * 100%) 0 (20px / 1019px * 100%);

        span {
            color: rgba(23, 23, 25, 0.3);
            margin-left: 10px;
        }

        svg {
            cursor: pointer;
            &.active {
                path {
                    stroke: #272727;
                }
            } 
        }
    }

    &__clips-grid {
        @extend .row;
        .item {
            max-width: 350px;
            font-size: 14px;
            line-height: 16px;
            margin: 0 auto 20px;
        }
        @include media-breakpoint-up(sm){
            .item {
                @include make-col(6);
            }
        }
        @include media-breakpoint-up(md){
            .item {
                @include make-col(4);
            }
        }
        @include media-breakpoint-up(xl){
            .item {
                @include make-col(3);
            }
        }

    }

    &__output {
        @media screen and (max-width: 576px){
            display: none;
        }
    }

    .item {        
        img {
            max-width: 100%;
        }

        a {
            display: block;
            transition: all 0.3s;
        }
        &__link-title:hover {
            color: $siberian-blue;
        }
        
        &__title {
            font-weight: 500;
            margin: 8px 0;
            &.trims {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        &__channel {
            color: #171719;
            opacity: 0.3;
            transition: all 0.3s;
            &.trim {
                width: 210px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        &__channel:hover {
            opacity: 0.8;
        }
    }

    &__clips-list {

        // max-height: 540px;
        // overflow-y: auto;
        // /* Hide scrollbar for IE, Edge and Firefox */
        // -ms-overflow-style: none;  /* IE and Edge */
        // scrollbar-width: none;  /* Firefox */

        // /* Hide scrollbar for Chrome, Safari and Opera */
        // &::-webkit-scrollbar {
        //     display: none;
        // }
        
        .item {
            @extend .row;
            // display: flex;
            // max-width: 687px;
            line-height: 20px;
            margin-bottom: 32px / 1040px * 100%;

            &__screen {
                text-align: center;
            }
            &__info {
                text-align: center;
            }

            @include media-breakpoint-up(sm) {
                &__screen {
                    @include make-col(6);
                }
                &__info {
                    @include make-col(6);
                    text-align: left;
                }
            }
            @include media-breakpoint-up(md) {
                &__screen {
                    @include make-col(4);
                }
                &__info {
                    @include make-col(7);
                }
            }
            @include media-breakpoint-up(lg) {
                &__screen {
                    @include make-col(3);
                }
                &__info {
                    @include make-col(6);
                }
            }
            img {
                max-width: 100%;
                // height: 88px;
            }

            // &__info {
            //     margin-left: 20px / 1040px * 100%;
            // }

            // &__title {
            //     margin-top: 0;
            // }

        }
    }
    
}

