@import "./variables";
@import "./lib/normalize";
@import "./fonts";
@import "./comonents/all";

body, html {
    font-family: $font-stack;
    font-size: 16px;
    line-height: 24px;
    position: relative;

    @media screen and (max-width: 768px){
        font-size: 14px;
    }

    @media screen and (max-width: 576px) { 
        font-size: 12px;
    }
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;

    &__nomatch {
        margin-top: 10%;
    }
}

.gohome {
    text-align: center;
    padding-top: 5%;
    a {
        color: $siberian-blue;
    }
}
